h1 {  text-align: center;   }
p { background-color: #eec;  }
newLink { color: #f60; font-weight: bold;background-color:blue; }
head{color:blue;}
div{width: "80%";}

buttonCenter{   text-align: center;}
pageBlockWidth{width: "80%";}